

{% extends 'base.html' %}

{% block content %}

<div class="container px-5 my-5">
<form id="contactForm" data-sb-form-api-token="API_TOKEN" action="." method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <!-- <input class="form-control" id="username" type="text" placeholder="Username" data-sb-validations="required" />
         -->
         {{user_form.username}}
        <label for="{{user_form.username.id_for_label}}">Username</label>
        <div class="invalid-feedback" data-sb-feedback="username:required">Username is required.</div>
    </div>
    <div class="form-floating mb-3">
        <!-- <input class="form-control" id="fisrtName" type="text" placeholder="Fisrt Name" data-sb-validations="required" /> -->
         {{user_form.Fist_name}}
        <label for="{{user_form.Fist_name.id_for_label}}">Fisrt Name</label>
        <div class="invalid-feedback" data-sb-feedback="fisrtName:required">Fisrt Name is required.</div>
    </div>
    <div class="form-floating mb-3">
        {% comment %} <input class="form-c ontrol" id="lastName" type="text" placeholder="Last Name" data-sb-validations="required" /> {% endcomment %}
        {{user_form.last_name}} 
        <label for="{{user_form.last_name.id_for_label}}">Last Name</label>
        <div class="invalid-feedback" data-sb-feedback="lastName:required">Last Name is required.</div>
    </div>
    <div class="form-floating mb-3">
        {% comment %} <input class="form-control" id="email" type="email" placeholder="Email" data-sb-validations="required,email" /> {% endcomment %}
        {{user_form.email}}        
        <label for=" {{user_form.email.id_for_label}}">Email</label>
        <div class="invalid-feedback" data-sb-feedback="email:required">Email is required.</div>
        <div class="invalid-feedback" data-sb-feedback="email:email">Email Email is not valid.</div>
    </div>
    
    <div class="form-floating mb-3">
        {% comment %} <input class="form-control" id="password" type="text" placeholder="Password" data-sb-validations="required" /> {% endcomment %}
        {{user_form.password}} 
        <label for="{{user_form.password.id_for_label}}">Password</label>
        <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
    </div>
    <div class="form-floating mb-3">
        {% comment %} <input class="form-control" id="confirmePassword" type="text" placeholder="Confirme Password" data-sb-validations="required" /> {% endcomment %}
        {{user_form.confirm_password}} 
        <label for="{{user_form.confirm_password.id_for_label}}">Confirme Password</label>
        <div class="invalid-feedback" data-sb-feedback="confirmePassword:required">Confirme Password is required.</div>
    </div>
    <div class="d-none" id="submitSuccessMessage">
        <div class="text-center mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            <p>To activate this form, sign up at</p>
        </div>
    </div>
    <div class="d-none" id="submitErrorMessage">
        <div class="text-center text-danger mb-3">Error sending message!</div>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
    </div>
</form>
</div>

        
{% endblock content %}
